body{
	 background: url(Images/pexels-photo-207757.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
	color:black;
	background-color: rgba(75, 9, 9, 0.23);
	background-blend-mode: color-burn;
}
.jumbotron.finance {
	margin-top: 80px;
	background-color: rgba(227, 230, 232, 0.88)
}


.jumbotron.si{
	background-color: #d6d6d6;
	margin-top: 20px;
	border: 0.5px solid rgba(0, 0, 0, 0.18);
	font-size: 18px;
}
p span{
	font-weight: 600;
	font-size: 22px
}

#finance-heading{
	margin-top: 25px;
	font-weight: 300;
}

#Si-button {
	position: relative;
	height: 70px;
	width: 250px;
	margin-left:145px
}
#emi-button {
	position: relative;
	height: 70px;
	width: 250px;
	margin-left:145px
}

#Dtf-button {
	position: relative;
	height: 70px;
	width: 250px;
	margin-left:145px
}

#Compound-button {
	position: relative;
	height: 70px;
	width: 250px;
	margin-left:145px
}
